#source-show(class = currentSource ? '' : 'hidden')
  .pure-g-r#source-show-heading
    .pure-u-1-2
      .pure-u-1-2
        if(currentSource)
          h2= currentSource.title
      .pure-u-1-2
        button.pure-button#add-note Add Note
        //- button.pure-button#search Search
    .pure-u-1-2
      #source-menu
        a edit
        a delete
  .pure-g-r
    .pure-u-1
      if(notes)
        ul#source-show-notes
          each note in notes
            li(data-id= note._id)
              .notes
                h3= note.title
                p= note.content
#search-show(class = currentSource ? 'hidden' : '')
  .pure-g-r#search-show-heading
    .pure-u-1-2
      h2 Search Results
    .pure-u-1-2
      input#search-input(type="text")
      button.pure-button#search-button Search
  .pure-g-r
    .pure-u-1
      if(sortedSearchResults)
        if(sortedSearchResults.length !== 0)
          ul.search-show-notes
            each note in sortedSearchResults
              li(data-id= note._id)
                .notes
                  h3= note.title
                  p= note.content
        else
          if(searchResults)
            ul.search-show-notes
              - for(var i=0; i<searchResults.length; i++)
                li(data-id= searchResults[i].obj._id)
                  .notes
                    h3= searchResults[i].obj.title
                    p= searchResults[i].obj.content
            if(searchResults.length === 0)
              h3 No Search Results
